<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>EVE Echoes - Pedia</title>
        <!-- Import Styles -->
        <!-- Import Vue.js -->
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="eve-echoes">
            <input v-model="search" placeholder="System name">
            <ul>
                <li v-for="system in systemsToDisplay">
                    <star-system-details :system="system" @remove-system="removeSystem" @add-stargate="addStargate" @remove-stargate="removeStargate"/>
                </li>
                <li>
                    <input v-model="newSystemName" placeholder="System name"/><input v-model="newSystemSecurityLevel" placeholder="Security level"/><button @click="addSystem">Add</button>
                </li>
            </ul>
        </div>

        <!-- Import App -->
        <script src="./main.js"></script>
        <!-- Import Components -->
        <script src="./components/StarSystemDetails.js"></script>
        <script src="./components/PlanetDetails.js"></script>

        <!-- Mount App -->
        <script>
            const mountedApp = app.mount('#eve-echoes')
        </script>
    </body>
</html>
